#metricsStyle table {
   font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
   box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
   border-collapse: collapse;
   border-spacing: 0;
}

#metricsStyle table, #metricsStyle td, #metricsStyle th {
   padding: 5px;
   text-align: center;
   border: 1px solid black;
}

#metricsStyle th {
   background-color: #B8B8B8;
   color: #505050;
   font: 15px sans-serif;
}

#metricsStyle h1 {
   font: 20px sans-serif bold;
   color: black;
}

#metricsStyle th button {
   text-align: center;
   font: 15px sans-serif;
   display: block;
   border: 0;
   background: none;
   outline: 0;
   color: black;
}

#metricsStyle li, #metricsStyle ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

#metricsStyle div {
   float: right;
   display: block;
   clear: both;
   position: fixed;
   right: 5px;
}

#metricsStyle #buttons {
   border: 1px solid black;
   background: #D0D0D0;
   padding: 2px;
}

#metricsStyle ul.manualGraphSize {
   display: none;
   margin-top: 2px;
}

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.line {
   fill: none;
   stroke: gray;
   stroke-width: 2px;
}