#metricsStyle table {
   font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
   box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
   border-collapse: collapse;
   border-spacing: 0;
}

#metricsStyle table, #metricsStyle td, #metricsStyle th {
   padding: 7px;
   text-align: center;
   border: 1px solid black;
}

#metricsStyle th {
   background-color: gray;
   color: white;
}

#metricsStyle h1 {
   font: 20px sans-serif bold;
   color: black;
}

#metricsStyle th button {
   text-align: center;
   font: 15px sans-serif;
   display:block;
   border:0;
   background:none;
   outline:0;
}

#metricsStyle li, #metricsStyle ul {
   list-style-type: none;
}

#metricsStyle div {
   width: 350px;
   height: 300px;
   float:right;
   display: block;
   clear: both;
   position: fixed;
   top: 50px;
   right: 5px;
}

#metricsStyle body {
   font: 10px sans-serif;
}

#metricsStyle ul.manualGraphSize {
   display: none;
}

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
}

.line {
   fill: none;
   stroke: gray;
   stroke-width: 2px;
}